
.container__task {
  margin-top: 2rem;
  padding: 10px;
  background: #f0f0f0;
  border: 1px solid #fd0000;    /* Для наглядности */
  /* пиши код сюда */

}

.item {
  padding: 20px;
  margin: 5px;
  text-align: center;
  /* пиши код сюда */

}